body
{
	max-width: 64em;
	
	/* this should be in 'section', but i can not allow 'navigation' to have different font style, 
	 * because chdome erroneously automatically gives a bigger size to such font */
	font-family: monospace, monospace, sans;
	
	background: hsl(50 94% 80%);
	color: black;
    margin: auto;
	padding: 1em;
}

section > p::before
{
	/*
	font-size: 0.7em;
	align-items: center;
	content: "• ";
	⚫●•
	*/
}

p
{
	content: " * ";
	margin: 0.6em;
	padding: 0.4em;
	border-style: none;
	border-width: 0.1em;
	background: white;
		# hsl(50 80% 90%);
}

div.wit-content
{
	margin-left: 2em;
	padding-left: 0.2em;

	border-style: solid;
	border-width: 0.1em;
	border-color: hsl(50 0% 60%);

	border-bottom-style: none;
	border-top-style: none;
	border-left-style: solid;
	border-right-style: none;
}

nav
{
	font-size: 1.26em;
	/*
	# text-transform: uppercase;
	# text-transform: capitalize;
	# font-weight: bolder;
	# border-bottom-style: solid;
	# margin-bottom: 1em;
	*/
}

nav > p
{
	border-style: none;
}

.wit-nav-item
{
	display: inline-block;
	margin: 0.2em;
}

.wit-nav-item::after
{
	content: " → ";
	margin: 0.7em;
}

.wit-nav-current-page::after
{
	content: "";
}

.wit-nav-current-page
{
	/*
	font-size: 1.3em;
	font-weight: bolder;
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	*/
}

.wit-navigation-separator
{
	# display: none;
	margin-left: 1.2em;
	margin-right: 1.2em;
	margin-top: 1.2em;
	margin-bottom: 1.2em;
	color: hsl(50 80% 90%);
}

.wit-page, .titled > p
{
	/*
	font-weight: bolder;
	text-transform: capitalize;
	*/
}
